<footer class="footer navbar-fixed-bottom">
	<ul class="row large-padding">
		<li class="col-md">
			Sobre nosotros
		</li>
		<li class="col-md">
			Contáctanos
		</li>
		<li class="col-md">
			Todos los derechos reservados
		</li>
	</ul>
</footer>