<header>
	<div id="main-nav" class="navbar navbar-inverse">
		<ul class="row large-padding">
			<li class="col-md-8">
				<%= image_tag("http://res.cloudinary.com/dnq7udia2/image/upload/v1470151018/tecnokits3_wgnpc5.png") %>
			</li>
			<li class="col-md">
				
			</li>
		</ul>
	</div>
</header>