<header>
	<ul class="row large-padding navigation-bar-text">
		<li id="top-nav" class="col-md-2 navigation-bar navigation-background">
			<%= link_to "Principal", root_path %>
		</li>
		<li id="top-nav" class="col-md-2 navigation-bar navigation-background">
			<%= link_to "Kits de Arduino", controller: "/categories", action: "show", id: "1" %>
		</li>
		<li id="top-nav" class="col-md-2 navigation-bar navigation-background">
			<%= link_to "Kits Robótica", controller: "/categories", action: "show", id: "2" %>
		</li>
		<li id="top-nav" class="col-md-2 navigation-bar navigation-background">
			<%= link_to "Arduino", controller: "/categories", action: "show", id: "3" %>
		</li>
	</ul>
</header>