<header>
	<div class="row large-padding">
		<div class="col-md-9">
			<%= link_to "Editar Cuenta", edit_user_registration_path %>
		</div>
		<div class="col-md">
			<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
		</div>
	</div>
</header>