<header>
	<div>
		<div class="col-md">
			Diseño
		</div>
		<div class="col-md">
			Programación
		</div>
		<div class="col-md">
			Tecnología
		</div>
		<div class="col-md">
			<%= link_to "Editar Cuenta", edit_user_registration_path %>
		</div>
		<div class="col-md">
			<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
		</div>
	</div>
</header>